<div class="app-page" [@inOutAnimation]>

    <form class="row g-3" [formGroup]="form" (submit)="onSubmit()" (keyup.enter)="onSubmit()" novalidate
        autocomplete="off">

        <mat-card class="example-card center">
            <mat-card-header class="mt-4">
                <div mat-card-avatar></div>
                <mat-card-title>
                    <h3 class="titulo">Actualización de usuario</h3>
                </mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="col-md-12 mt-3">
                    <p>
                        <mat-form-field class="col-md-12" appearance="fill">
                            <mat-label>Código de empleado</mat-label>
                            <input matInput placeholder="Código de empleado" formControlName="empleado" maxlength="36">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                    </p>
                    <mat-card-actions class="mt-4" style="display: flex; justify-content: center;">
                        <button class="btn btn-outline-success mb-4" (click)="buscarUsuario()">Buscar usuario</button>
                    </mat-card-actions>

                    <div >
                        <p>
                            <mat-form-field class="col-md-12" appearance="fill">
                                <mat-label>Nombre de usuario</mat-label>
                                <input matInput placeholder="Nombre de usuario" formControlName="usuario" maxlength="36">
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                        </p>
    
                        <mat-form-field floatLabel="always" class="col-md-12">
                            <mat-label>Número de teléfono</mat-label>
                            <input matInput placeholder="+502" appNumbersOnly maxlength="8" formControlName="telefono">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
    
                        <mat-form-field class="col-md-12">
                            <mat-label>Ingrese su correo</mat-label>
                            <input matInput placeholder="abc@example.com" [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-card-actions class="mt-4" style="display: flex; justify-content: center;">
                        <button class="btn btn-outline-success mb-4" (click)="buscarUsuario()">Actualizar usuario</button>
                    </mat-card-actions>
                </div>
                
            </mat-card-content>


            <mat-card-actions *ngIf="" class="mt-4" style="display: flex; justify-content: center;">
                <!-- <button class="btn btn-outline-danger mb-4" [routerLink]="['/login']">Regresar</button> -->
                <!-- <span matTextPrefix>&nbsp;</span>
                <span matTextPrefix>&nbsp;</span>
                <span matTextPrefix> &nbsp; </span> -->
                <button class="btn btn-outline-success mb-4" type="submit">Actualizar usuario</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>