.app-page {
  background-color: #ecf0f3;
}

.custom-form {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #bcd8c1;
  width: 30%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.example-card {
  width: 30%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.example-card .img-fluid {
  max-width: 150px; /* Define el nuevo tamaño máximo para la imagen */
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}



/* Media Query para pantallas pequeñas, como teléfonos móviles */
@media screen and (max-width: 768px) {
  .custom-form {
    width: 50%;
  }

  .example-card {
    width: 80%;
  }

  .centrado {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .example-card .img-fluid {
    max-width: 30%; /* Define el nuevo tamaño máximo para la imagen */
  }
}


@media screen and (max-width: 480px) {

  .example-card .img-fluid {
    max-width: 40%; /* Define el nuevo tamaño máximo para la imagen */
  }

  .custom-form {
    width: 100%;
  }

  .example-card {

    width: 80%;
  }

}