.fa {
  cursor: pointer;
}

.boton {
  margin-left: 7px;
}

.wrapper {
  position: relative;
}



.tarjeta-flotante {
  position: fixed;
  z-index: 1000;
  /* Asegura que esté en la parte superior de otras capas */
  top: 50%;
  /* Centra verticalmente */
  left: 50%;
  /* Centra horizontalmente */
  transform: translate(-50%, -50%);
  /* Centra en la pantalla */
  width: 75%;
  height: 60%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}



.containercard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.card.col-lg-4.tarjeta-flotante {
  max-height: 80vh; 
  overflow-y: auto;
}




.table-container th,
.table-container td {
 /* Establecemos un ancho igual para cada celda (1/6 de la tabla) */
  text-align: center; /* Alineamos el texto al centro en las celdas */
  white-space: nowrap; /* Evitamos que el texto se divida en varias líneas */
  overflow: hidden; /* Ocultamos el desbordamiento de contenido */
  text-overflow: ellipsis; /* Mostramos puntos suspensivos si el contenido es demasiado largo */
}

/* Estilos adicionales para los botones */
.table-container .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.botones {
  display: flex; /* Cambiamos la visualización a flex para alinear horizontalmente */
  justify-content: space-between; /* Distribuimos los botones con espacio entre ellos */
  align-items: center; /* Alineamos verticalmente al centro */
  width: 100%;
}

.botones .btn {
  margin: 5px; /* Agregamos un pequeño margen entre los botones */
}


@media (max-width: 768px) {

  .containercard {
    display: block; 
    width: 100%;
  }

  .botoncrear {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    padding: 5px 10px;
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  .titulo {

    font-size: 22px;
    display: block;
    margin-top: 45px;
  }

  .subtitulo{
    font-size: 14px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  th {
    font-size: 10px;
  }

  td {
    font-size: 10px;
  }

  .table td {
    vertical-align: middle;
  }

}



@media (max-width: 767px) {

  .table-container {
    overflow-x: auto;
  }

}
